@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:ital,wght@0,300;0,400;1,800&family=Poppins:ital,wght@0,400;0,500;1,100;1,200&family=Sora:wght@300;400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: aqua;
}
